Source: gitlab-installer
Section: admin
Priority: optional
Maintainer: Bobby Martin <bobby.martin@mail.wvu.edu>
Build-Depends: cdbs, debhelper (>= 5.0.0)
Standards-Version: 3.9.4

Package: gitlab-installer
Architecture: all
Depends: postfix 
Description: Installs helper scripts to configure gitlab
 Installs helper scripts to configure gitlab
